<body style="background-color: rgb(221, 221, 221); display: block; height: 120vh;">  
  <nav class="navbar bg-body-tertiary"  data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand"  style="color: rgb(221, 221, 221);">Reseñas turisticas</a> 
    </div>
  </nav>

    <div style="text-align: center; margin-top: 20px;">    <!-- titulo-->
        <h1>Redacte su reseña!</h1>
    </div>

    <div style="margin: 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 50px;">        <!-- formulario-->
        <div style="width: 600px; text-align: center;">                            <!-- ingresar pais-->
                <label for="exampleDataList" class="form-label">Pais</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Francia">
                <datalist id="datalistOptions">
                <option value="Argentina">
                <option value="Brasil">
                <option value="Estados Unidos">
                <option value="Francia">
                <option value="Mexico">
                <option value="China">
                <option value="España">
                <option value="Italia">
                </datalist>
        </div>

        <div style="width: 600px; text-align: center; margin-top: 50px;">                            <!-- ingresar pais-->
            <label for="exampleDataList" class="form-label">Ciudad</label>
            <input class="form-control" id="exampleDataList" placeholder="Paris">
            
        </div>
    
        <div>
            <div class="mb-3" style="width: 600px; text-align: center; margin-top: 50px;">
                <label for="formFileMultiple" class="form-label">Seleccionar imagenes</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple>
              </div>
        </div>


        <div class="mb-3" style="width: 600px; text-align: center; margin-top: 50px; ">
            <label for="exampleFormControlTextarea1" class="form-label">Escriba algo acerca del lugar</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
        <div style="width: 600px; text-align: center; margin-top: 50px; ">
            <label for="customRange1" class="form-label">Grado de satisfaccion</label>
            <input type="range" class="form-range" id="customRange1">
        </div>


        <div style="width: 600px; text-align: center; margin-top: 50px; ">
            <div class="form-floating" >
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                  <option selected>Estrellas de puntuacion</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <label for="floatingSelect">Seleccione</label>
              </div>
        </div>






        <div style=" text-align: center; margin-top: 40px; ">
            <button type="button" class="btn btn-outline-primary" routerLink="/mis-res">Guardar reseña</button>
        </div>




    </div>




</body>
