<body style="background-color: rgb(221, 221, 221); display: block; height: 100vh;">  

  <nav class="navbar bg-body-tertiary"  data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand"  style="color: rgb(221, 221, 221);">Reseñas turisticas</a> 
    </div>
  </nav>

    <div style="margin: 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 50px;">
        <h1>Buscar una reseña</h1>


        <div style="margin-top: 50px;">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Ingrese un lugar" aria-label="Search" style="width: 600px;">
                    <button class="btn btn-outline-success" type="submit" >Buscar</button>
                </form>
        </div>



       <div >
        <table class="table" style="width:90vw; margin-top: 50px;">
            <thead>
              <tr>
                <th scope="col" >Estrellas</th>
                <th scope="col">Autor</th>
                <th scope="col">Aclaracion</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>gdsadsgf</td>
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                
              </tr>
            </tbody> 
          </table>
       </div>

          
    </div>


























</body>