<body>
  <nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand">Reseñas turisticas</a>
    </div>
  </nav>

  <div class="div-br">
    <h1>Buscar una reseña</h1>

    <div class="div-buscar">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Ingrese un lugar"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID reseña</th>
            <th scope="col">ID Autor</th>
            <th scope="col">Estrellas</th>
            <th scope="col">Aclaracion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let review of reviews">
            <th scope="row">{{ review.id }}</th>
            <th></th>
            <td>{{ review.userId }}</td>
            <td>{{ review.stars }}</td>
            <td>{{ review.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
