<body style="background-color: rgb(221, 221, 221); display: block; height: 100vh;">  
  <nav class="navbar bg-body-tertiary"  data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand"  style="color: rgb(221, 221, 221);">Reseñas turisticas</a> 
    </div>
  </nav>

    <div style="margin: 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 50px;">

                    <div>
                        <h1>Mis Reseñas</h1>
                    </div>

                    <div >
                        <table class="table" style="width:90vw; margin-top: 50px;">
                            <thead>
                              <tr>
                                <th scope="col" >ID reseña</th>
                                <th scope="col">Estrellas</th>
                                <th scope="col">Aclaracion</th>
                                <th scope="col">Editar reseña</th>
                                <th scope="col">Modificar reseña</th>


                                
                              </tr>
                            </thead>
                            <tbody>                          
                                <tr *ngFor="let review of reviews">
                                <th scope="row">{{review.id}}</th>
                                <td>{{review.stars}}</td>
                                <td>{{review.description}}</td>
                                <td><button type="button" class="btn btn-primary" routerLink="/redactar">Modificar</button></td>
                                <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                              </tr>

                                
                            </tbody> 
                          </table>
                       </div>

    </div>

    






</body>
