<body style="background-color: rgb(221, 221, 221); display: block; height: 100vh;">  
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">  <!-- barra de navegacion-->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid" >
          <span class="navbar-brand mb-0 h1" style="color: aliceblue;">RESEÑAS TURISTICAS</span>
  
  
        </div>
      </nav>
    </nav>

    <div style="margin: 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 50px;">

                    <div>
                        <h1>Mis Reseñas</h1>
                    </div>

                    <div >
                        <table class="table" style="width:90vw; margin-top: 50px;">
                            <thead>
                              <tr>
                                <th scope="col" >Estrellas</th>
                                <th scope="col">Autor</th>
                                <th scope="col">Aclaracion</th>
                                <th scope="col">Editar reseña</th>
                                <th scope="col">Modificar reseña</th>


                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>gdsadsgf</td>
                                <td><button type="button" class="btn btn-primary" routerLink="/redactar">Modificar</button></td>
                                <td><button type="button" class="btn btn-danger">Eliminar</button></td>


                                
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td><button type="button" class="btn btn-primary" routerLink="/redactar">Modificar</button></td>
                                <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                                
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td><button type="button" class="btn btn-primary" routerLink="/redactar">Modificar</button></td>
                                <td><button type="button" class="btn btn-danger">Eliminar</button></td>
                                
                              </tr>
                            </tbody> 
                          </table>
                       </div>

    </div>

    






</body>
