<body style="background-color: rgb(221, 221, 221); display: block; height: 100vh;">  
  <nav class="navbar bg-body-tertiary"  data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand"  style="color: rgb(221, 221, 221);">Reseñas turisticas</a> 
    </div>
  </nav>
    
  

  <h1 class="display-1" style="text-align: center; margin-top: 20px; margin-bottom: 100px; text-decoration: double; font-weight: 500;">Inicio </h1>


  <div style="text-align: center; align-items: center; display: flex; justify-content: center;">


        <div class="card" style="width: 18rem;">
          <img src="https://cdn.pixabay.com/photo/2014/10/28/03/00/buckingham-506129_1280.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Escribir sobre un lugar</h5>
            <p class="card-text">Comenta a la comunidad como han estado tus vacaciones</p>
            <a href="#" class="btn btn-primary"   routerLink="/redactar">Redactar Reseña</a>
          </div>
        </div>
        
        <div class="card" style="width: 18rem; margin-left: 50px;">
          <img src="https://cdn.pixabay.com/photo/2016/09/12/17/00/antwerp-1665194_640.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Leer sobre un lugar</h5>
            <p class="card-text">Busca reseñas que otros autores han realizado</p>
            <a href="#" class="btn btn-primary" routerLink="/buscar">Buscar reseñas</a>
          </div>
        </div>


        <div class="card" style="width: 18rem; margin-left: 50px;">
          <img src="https://cdn.pixabay.com/photo/2020/01/25/18/20/sicily-4793099_640.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Editar Reseña</h5>
            <p class="card-text">Edita las reseñas que hayas hecho anteriormente</p>
            <a href="#" class="btn btn-primary" routerLink="/mis-res">Modificar reseñas</a>
          </div>
        </div>

  </div>  













</body>
