<body style="background-color: rgb(221, 221, 221); display: block; height: 100vh;">  
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">  <!-- barra de navegacion-->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid" >
          <span class="navbar-brand mb-0 h1">RESEÑAS TURISTICAS</span>
  
  
        </div>
      </nav>
    </nav>
  

  <h1 class="display-1" style="text-align: center; margin-top: 20px; margin-bottom: 100px; text-decoration: double; font-weight: 500;">Inicio </h1>


  <div style="text-align: center; align-items: center; display: flex; margin-left: 650px;">
    <div class="card" style="width: 18rem;">
      <img src="https://cdn.pixabay.com/photo/2014/10/28/03/00/buckingham-506129_1280.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Escribir sobre un lugar</h5>
        <p class="card-text">Comenta a la comunidad como han estado tus vacaciones</p>
        <a href="#" class="btn btn-primary">Redactar Reseña</a>
      </div>
    </div>
    
    <div class="card" style="width: 18rem; margin-left: 50px;">
      <img src="https://cdn.pixabay.com/photo/2016/09/12/17/00/antwerp-1665194_640.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Leer sobre un lugar</h5>
        <p class="card-text">Busca reseñas que otros autores han realizado</p>
        <a href="#" class="btn btn-primary">Buscar reseñas</a>
      </div>
    </div>

  </div>  









</body>
