<body style="background-color: rgb(221, 221, 221); display: block; height: 100vh;">  
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">  <!-- barra de navegacion-->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid" >
          <span class="navbar-brand mb-0 h1">RESEÑAS TURISTICAS</span>
  
  
        </div>
      </nav>
    </nav>

    <img src="c:\Users\Felipe\OneDrive\Escritorio\3er año\Desarrollo de software\TP_DSW_FrontEnd-3\people.jpg" class="img-fluid" alt="">









</body>
