<body style="background-color: rgb(221, 221, 221); display: block; height: 110vh;">  
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">  <!-- barra de navegacion-->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid" >
          <span class="navbar-brand mb-0 h1" style="color: aliceblue;">RESEÑAS TURISTICAS</span>
  
  
        </div>
      </nav>
    </nav>
  
  
  
          <br><br><br>
  
  
          <h1 class="display-1" style="text-align: center;">Registrarse</h1>   <!-- Cartel registrarse-->
<br><br><br>
      
<div style="margin: 0 auto; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <div class="form-floating" style="align-items: center; width: 750px;  height: 80px;">      <!-- Campo para el nombre-->
            
    <textarea class="form-control" placeholder="Ingrese su nombre" id="floatingTextarea" ></textarea>
    <label for="floatingTextarea" >Nombre</label>
  </div>

  <br><br><br>
  
  <div class="form-floating" style="align-items: center; width: 750px;  height: 80px;">   <!-- campo para el apellido-->
    <textarea class="form-control" placeholder="Ingrese su apellido" id="floatingTextarea"></textarea>
    <label for="floatingTextarea">Apellido</label>
  </div>

  

<form style="margin-top: 50px; align-items: center; width: 750px;  height: 80px;" > <!-- ingresar email y contrasenia-->
<div class="mb-3" style="align-items: center; width: 750px;  height: 80px;">
  <label for="exampleInputEmail1" class="form-label" >Correo electronico</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ejemplo@hotmail.com" >
  <div id="emailHelp" class="form-text">Nunca compartiremos su correo electronico</div>
</div>



<div class="mb-3"  style="align-items: center; width: 750px;  height: 80px; margin-top: 50px;">
  <label for="exampleInputPassword1" class="form-label" style="width: 40%;">Contraseña</label>
  <input type="password" class="form-control" id="exampleInputPassword1" >
</div>


<div class="mb-3"  style="align-items: center; width: 750px;  height: 80px;">
    <label for="exampleInputPassword1" class="form-label" style="width: 40%;">Repita la contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" >
  </div>




  <div style="text-align: center;">
    <button type="submit" class="btn btn-primary" routerLink="/inicio">Registrarse</button>
  </div>
  



</form>

</div>
         
  </body>
