<body style="background-color: rgb(221, 221, 221); display: block; height: 100vh;">  
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">  <!-- barra de navegacion-->
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid" >
          <span class="navbar-brand mb-0 h1">RESEÑAS TURISTICAS</span>
  
  
        </div>
      </nav>
    </nav>
  
  
  
          <br><br><br>
  
  
          <h1 class="display-1" style="text-align: center;">Registrarse</h1>

          
          <div style="text-align: center; align-items: center;">
            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4" >
                  <label for="validationCustom01" class="form-label" style="align-items: center; text-align: center;">Nombre</label>
                  <input type="text" class="form-control" id="validationCustom01" value="Juan Gabriel" required style="display: block; align-content: center;">
                  <div class="valid-feedback">
                    Se ve bien!
                  </div>
                </div>
                <br><br>
                <div class="col-md-4">
                  <label for="validationCustom02" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="validationCustom02" value="Perez" required>
                  <div class="valid-feedback">
                    Se ve bien!
                  </div>
                </div>
                
                
              </form>
          </div>


  <form style="margin-top: 50px;" > <!-- ingresar email y contrasenia-->
        <div class="mb-3" style="text-align: center;">
          <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ejemplo@hotmail.com" style="width: 40%; margin-left: 600px;">
          <div id="emailHelp" class="form-text">Nunca compartiremos su correo electronico</div>
        </div>
        <div class="mb-3"  style="text-align: center;">
          <label for="exampleInputPassword1" class="form-label" style="width: 40%;">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" style="width: 40%; margin-left: 600px;">
        </div>

        <div class="mb-3"  style="text-align: center;">
            <label for="exampleInputPassword1" class="form-label" style="width: 40%;">Repita la contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" style="width: 40%; margin-left: 600px;">
          </div>


        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <!--<label class="form-check-label" for="exampleCheck1">Mostrar clave</label>-->
        </div>



          <button type="submit" class="btn btn-primary" style=" margin-left: 900px;">Registrarse</button>



      </form>
      
  </body>
