<body style="background-color: rgb(221, 221, 221); display: block; height: 100vh;">  
    <nav class="navbar bg-body-tertiary"  data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand"  style="color: aliceblue;">Reseñas turisticas</a>


          <form class="d-flex" role="search">
            <button type="button" class="btn btn-success" routerLink="/iniciar-sesion">Iniciar sesion</button>
          </form>
        </div>
      </nav>

  <div>
    
    <img src="https://cdn.pixabay.com/photo/2013/04/07/21/29/arc-de-triomphe-101633_640.jpg" class="img-fluid" alt="" style="height: 94vh ;width: 100%; opacity: 0.6;">
  </div>



  
  </body>