<!--<body>
    <div>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand">RESEÑAS TURISTICAS</a>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Lugar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
          </nav>
    </div>
</body> -->
<body
  style="background-color: rgb(221, 221, 221); display: block; height: 100vh"
>
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <!-- barra de navegacion-->
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">RESEÑAS TURISTICAS</span>
      </div>
    </nav>
  </nav>

  <br /><br /><br />

  <h1 class="display-1" style="text-align: center">Iniciar Sesion</h1>

  <form style="margin-top: 100px">
    <!-- ingresar email y contrasenia-->
    <div class="mb-3" style="text-align: center">
      <label for="exampleInputEmail1" class="form-label"
        >Correo electronico</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="ejemplo@hotmail.com"
        style="width: 40%; margin-left: 600px"
      />
      <div id="emailHelp" class="form-text">
        Nunca compartiremos su correo electronico
      </div>
    </div>
    <div class="mb-3" style="text-align: center">
      <label for="exampleInputPassword1" class="form-label" style="width: 40%"
        >Contraseña</label
      >
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        style="width: 40%; margin-left: 600px"
      />
      <button (click)="mostrarClave()" id="password" type="button">
        <span class="fa fa-eye-slash icon"></span>
      </button>
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <!--<label class="form-check-label" for="exampleCheck1">Mostrar clave</label>-->
    </div>

    <button type="submit" class="btn btn-primary" style="margin-left: 900px">
      Iniciar Sesion
    </button>
    <button
      type="button"
      class="btn btn-light"
      style="margin-left: 10px"
      routerLink="/registrarse"
    >
      Registrarse
    </button>
  </form>
</body>
