body{
  background-color: white;
  display: block;
  height: 100vh;
}

h1{
  text-align: center;
  color: #135B9E;
  font-family:  sans-serif;
  font-size: 80px;
  margin-top: 20px;
}

form{
  margin-top: 100px;
}

.mb-3{
  align-items: center; width: 750px;  height: 80px;
  
}

.mb-3 button{
  height: 35px;
  width: 40px;
  color: #000000;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  justify-content: right;
  padding: 0;
}

button span{
  padding: 0;
  font-size: 25px;
}


